ul.menu
	li.menu__item
		a(href="./index.html") Главная
	li.menu__item
		a(href="./about.html") Обо мне
	li.menu__item
		a(href="./blog.html") Блог
	li.menu__item
		a(href="./portfolio.html") Портфолио