.socials
	// todo переделать на svg
	img(src= require('../../icons/vk.svg')).socials__item
	img(src= require('../../icons/github.svg')).socials__item
	img(src= require('../../icons/linkedin.svg')).socials__item