@import "../../components/mixins";
.contacts {
  width: 400px;
  @include centered();
  &__title {
	margin-top: 20px;
  }
  &__bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #eaeaea;
	opacity: 0.6;
	z-index: -1;
  }
}