@import "../../components/mixins";
.contacts {
  width: 380px;

  @include centered();
  &__title {
	margin-top: 20px;
  }
  &__bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #f4f5f0;
	opacity: 0.9;
	z-index: -1;
  }
}